<div class="row common-spacing">
  <div class="col-lg-12">
    <h3 class="section-title">RESUME OBJECTIVE</h3>
    <div class="row">
      <ul>
        <li>3+ years of experience lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
        <li>3+ years of experience lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
        <li>3+ years of experience lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum</li>
      </ul>
    </div>
  </div>
</div>