<div class="row  common-spacing ">
    <div class="col-lg-12">
        <h3 class="section-title">SKILLS</h3>
        <div class="skills-tag">EmberJS</div>
        <div class="skills-tag">Ruby on Rails</div>
        <div class="skills-tag">Elixir Phoenix</div>
        <div class="skills-tag">MySQL/Postgres</div>
        <div class="skills-tag">NodeJS</div>
        <div class="skills-tag">Angular 2+</div>
        <div class="skills-tag">HTML/CSS</div>
        <div class="skills-tag">Cordova</div>
        <div class="skills-tag">React</div>
        <div class="skills-tag">Redis</div>
        <div class="skills-tag">Rabbitmq</div>
        <div class="skills-tag">ElasticSearch</div>
    </div>    
</div>