html, body {
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.home-outer-div {
  display: flex;
  justify-content: center;
}

.home-inner-div {
  max-width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 3rem 7% 1rem;
  vertical-align: middle;
}

.heading-title {
  font-size: 4rem;
  color: #BB4528;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: "bold";
  line-height: 1.1;
  text-transform: uppercase;
}

.seperator {
  border-top: 5px solid #BB4528;
  width: 50%;
}
.heading-subtitle {
  font-size: 1.6rem;
  text-transform: uppercase;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 10px;
}

.contact-list {
  margin-top: 40px;
}

.text-50 {
  font-size: 50px;
}

.list-inline {
  padding-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  border-radius: 50%;
  border: 1px solid #BB4528;
  max-height: 4.5rem;
  width: 4.5rem;
  padding: 0.8rem;

  i {
    vertical-align: middle;
    margin-bottom: 80%;
  }
}

.list-inline > li:last-child i{
  font-size: 2.5rem;
  margin-bottom: 3rem;
  margin-left: 10%;
}

.navigator {
  bottom: 0; 
  position:fixed;
  left: 50%;
  font-size: 4rem;
  cursor: pointer;
}

.about-me-title{
  box-shadow: 0 0 1px #B74934;
  border-bottom: 1px solid #B74934;
  text-align: center;
  font-size: 2.5rem;
  margin-top: 2%;
  font-weight: 600;
  color: #B7493
}

.about-me {
  color: #9b9990;
  font-family: Merriweather,serif;
  font-size: 1.1rem;
}

.resume-outer {
  height: 100vh;
  border: 1px solid #2C537E;
  border-radius: 5px;
  border-top: 1.5rem solid #2C537E;
}

.common-spacing {
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}
.detail-bar {
  background-color: #F1F1F0;
}

.resume-title {
  font-weight: 500;
  margin-top: 4%;
}

.detail-header {
  display: inline;
  font-weight: bolder;
  font-size: 0.8rem;
}

.detail-content {
  display: inline;
  font-weight: 100;
  font-family: serif;
  margin-top: -1%;
}

.section-title {
  font-size: 1.4rem;
  font-weight: 600;
}

.skills-tag {
  min-width: 100px;
  height: 40px;
  text-align: center;
  background-color: #9CACC7;
  border-radius: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 9px;
  display: inline-block;
  margin-left: 1%;
  margin-bottom: 1%;
  border: 1px solid #8e8e8e;
}
// .btn {
//     border: 1px solid #00d1b2;
//     background: none;
//     padding: 5px 10px;
//     font-size: 20px;
//     font-family: "montserrat";
//     cursor: pointer;
//     margin: 10px;
//     transition: 0.8s;
//     position: relative;
//     overflow: hidden;
// }

// .btn1, .btn2 {
//     color: #00d1b2;
// }

// .btn1:hover, .btn2:hover {
//     color: #fff;
// }

// .btn::before {
//     content: "";
//     position: absolute;
//     left: 0;
//     width: 100%;
//     height: 0%;
//     background: #00d1b2;
//     z-index: -1;
//     transition: 0.8s;
// }

// .btn1::before {
//     top: 0;
//     border-radius: 0 0 50% 50%;
// }

// .btn2::before {
//     bottom: 0;
//     border-radius: 50% 50% 0 0;
// }

// .btn1:hover::before, .btn2:hover::before {
//     height: 180%;
// }