<div class="row">
    <div class="col-lg-4 offset-lg-1" style="height:100vh">
        <h2 class="about-me-title">About Me</h2>
        <p class="about-me">
           I'm a passionate developer, strong supporter of best practices and patterns, serious about code readability, maintainability and scalability; believe and deep in love with testing. 
        </p>    
        <p class="about-me">
          Off duty I'm an interested mathematicians, struggling Singer :) and Marvel Movie crazy fan.
        </p>
        <p class="about-me">
          I live in Mumbai, India. Love everything about Mumbai, but flexible to work from anywhere :).
        </p>
    </div>
    <div class="col-lg-4 offset-lg-1" style="height:100vh"></div>
</div>