<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-6"></div>
    <div class="col-sm-3 col-md-6 col-lg-6">
        <img src="assets/images/github.png" alt="" style="width:100%;">
    </div>
</div>