<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-6">
        <div class="home-outer-div">
            <div class="home-inner-div">
                <h1 class="heading-title">AbulAsar Sayyad</h1>  
                <h2 class="heading-subtitle">fullstack developer, Ember & Elixir enthusiast</h2>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-6">
        <img src="assets/images/profile-pic.png" alt="" style="width:100%;">
    </div>
</div>