<div class="row">
    <div class="col-sm-3 col-md-6 col-lg-6">
        <div class="home-outer-div">
            <div class="home-inner-div">
                <h1 class="heading-title">Abul Asar</h1>  
                <hr class="seperator">
                <h2 class="heading-subtitle">Full Stack Developer / Ember & Elixir enthusiast</h2>

                <ul class="list-inline list-social text-50 push-top-lg">
                  <li>
                    <a href="http://twitter.com/abul_asar"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="https://www.facebook.com/people/Abul-Asar-Sayyad/100007128434812"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/in/abulasar-sayyad-17a2611b"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="mailto:abul.asar22@gmail.com?Subject=Hello%20AbulAsar"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3 col-md-6 col-lg-6">
        <img src="assets/images/profile-pic.png" alt="" style="width:100%;">
    </div>
</div>