<div class="row">
  <div class="col-lg-8 offset-lg-2 resume-outer">
      <div class="row detail-bar common-spacing">
        <div class="col-lg-8">
          <h2 class="resume-title">ABULASAR SAYYAD</h2>
        </div>
        <div class="col-lg-4">
          <div class="row">
            <div class="detail-header">Email:</div>
            <div class="detail-content">abul.asar22@gmail.com </div> 
          </div>    
          <div class="row">
            <div class="detail-header">Phone:</div> 
            <div class="detail-content">+91-7738279262</div>
          </div>    
          <div class="row">
            <div class="detail-header">Address:</div> 
            <div class="detail-content">Yadav Chawl, Shivaji Nagar-2, Marol Pipeline,
                    Andheri East , Mumbai-400059. 
            </div>        
          </div>
          <div class="row">
            <div class="detail-header">LinkedIn:</div> 
            <div class="detail-content">linkedin.com/in/abulasar-sayyad-17a2611b</div>
          </div>        
        </div>
      </div>
      
      {{!-- Resume Object --}}
      {{resume-objective}}

      {{!-- Skills --}}
      {{skills-set}}
  </div>
</div>